/****** Object:  Database [dbturnos]    Script Date: 14/09/2026 4:44:39 p. m. ******/
CREATE DATABASE [dbturnos]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET FULLTEXT_INDEX_VERSION = 2;
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 14/09/2026 4:44:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 14/09/2026 4:44:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[Id] [uniqueidentifier] NOT NULL,
	[CodigoTurno] [nvarchar](30) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[SucursalId] [int] NOT NULL,
	[FechaHoraCreacion] [datetime2](7) NOT NULL,
	[FechaHoraExpiracion] [datetime2](7) NOT NULL,
	[FechaHoraActivacion] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurnosConsecutivos]    Script Date: 14/09/2026 4:44:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurnosConsecutivos](
	[SucursalId] [int] NOT NULL,
	[UltimoConsecutivo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SucursalId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sucursales] ON 

INSERT [dbo].[Sucursales] ([Id], [Nombre], [Direccion], [Ciudad], [Activa]) VALUES (1, N'Sucursal Medellin', N'Cra 10 # 20-30', N'Medellín', 1)
INSERT [dbo].[Sucursales] ([Id], [Nombre], [Direccion], [Ciudad], [Activa]) VALUES (2, N'Sucursal Sabaneta', N'Clle 80 # 15-40', N'Sabaneta', 1)
INSERT [dbo].[Sucursales] ([Id], [Nombre], [Direccion], [Ciudad], [Activa]) VALUES (3, N'Sucursal Envigado', N'Av 6 # 45-12', N'Envigado', 1)
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
GO

INSERT [dbo].[TurnosConsecutivos] ([SucursalId], [UltimoConsecutivo]) VALUES (1, 4)
INSERT [dbo].[TurnosConsecutivos] ([SucursalId], [UltimoConsecutivo]) VALUES (2, 4)
INSERT [dbo].[TurnosConsecutivos] ([SucursalId], [UltimoConsecutivo]) VALUES (3, 7)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Turnos_Cedula_FechaHoraCreacion]    Script Date: 14/09/2026 4:44:44 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Turnos_Cedula_FechaHoraCreacion] ON [dbo].[Turnos]
(
	[Cedula] ASC,
	[FechaHoraCreacion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Turnos_Estado_FechaHoraExpiracion]    Script Date: 14/09/2026 4:44:44 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Turnos_Estado_FechaHoraExpiracion] ON [dbo].[Turnos]
(
	[Estado] ASC,
	[FechaHoraExpiracion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Turnos_CodigoTurno]    Script Date: 14/09/2026 4:44:44 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Turnos_CodigoTurno] ON [dbo].[Turnos]
(
	[CodigoTurno] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Turnos] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TurnosConsecutivos] ADD  DEFAULT ((0)) FOR [UltimoConsecutivo]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Sucursales] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Sucursales]
GO
ALTER TABLE [dbo].[TurnosConsecutivos]  WITH CHECK ADD  CONSTRAINT [FK_TurnosConsecutivos_Sucursales] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[TurnosConsecutivos] CHECK CONSTRAINT [FK_TurnosConsecutivos_Sucursales]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [CK_Turnos_Estado] CHECK  (([Estado]='Expirado' OR [Estado]='Cancelado' OR [Estado]='Atendido' OR [Estado]='Activado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [CK_Turnos_Estado]
GO
